################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/GasTest/.idea/.idea.GasTest/.idea
/GasTest/.vs/GasTest
/GasTest
